/* NAVBAR Stylesses*/
.navbar.past-main {
    height: 120px;
}

.navtext {
    font-size: 21px;
}

.btn-color { 
    color:white !important;
}

.btn-pos {
    padding-top: 6%;
}

.logo-pos {
    padding-top: 2%;
    width: 50px;
}

/* Container for Title */

.pitch-intro { 
    padding-bottom: 20px!important;
}

/* HERO SECTION Style */
.form .hero-section {
	background:url(../images/ucl-bg-dark.jpg);
	background-size: cover;
	padding: 150px 0 0 0;
}



/* Responsive Styles */
@media only screen and (min-width: 767px) {
    .menuedit {
        padding-top: 9%;
        top:0;
    }
    .imagegal { 
        width: 750px;
        height: 400px;
    }
}

@media only screen and (max-width: 767px) {
    .imagegal {
        width: 100%;
    }
    .hero-cont{
        transform: translate(0,25vh)
    }
}

@media only screen and (max-width: 991px) {
    .cont1 {
        display: flex;
        flex-direction: column;
    }
    .ct2 {
        order: 3;
    }
}